<h1>Edit My Info Page</h1>

<form action="/users/{{user.id}}?_method=PUT" method="POST">    
    <div>
        <label>First Name:</label><br>
        <input type="text" value="{{user.first_name}}" name="first_name"></div>
    <div>
        <label>Last Name:</label><br>
        <input type="text" value="{{user.last_name}}" name="last_name"></div>
    <div>
        <label>Email:</label><br>
        <input type="text" value="{{user.email}}" name="email"></div>
    
    <div>
        <label>User Name:</label><br>
        <input type="text" value="{{user.user_name}}" name="user_name"></div>
    <div>
        <label>Password:</label><br>
        <input type="text" value="{{user.password}}" name="password"></div>
    
<input class= "btn" type="submit" value="Update Changes">
<a href="/users/{{userId}}"><button class="btn secondary">CANCEL</button></a>
