<label>Service</label>
<input type="text" name="title" value=" <%= service.Service %>">
<label>Mechanic</label>
<select name="mechanic"
<% mechanic.forEach(mechanic => { %>
<% if (mechanic.id === service.mechanic) { %>
    <option selected lable="<%= mechanic.name %" value="<%= mechanic.id%>"
    <% } else { %>
    <option lable="<%= mechanic.name %" value="<%= mechanic.id%>"
<% }) %>

<% }) %>
</select>
//<input type="text" name="service" value=" <%= service.Service %>">
<label>Purchase Date</label>
<input type="date" name="purchaseDate"
     value=" <%= service.purchaseDate == null ? ''  :
     book.purchaseDate.toISOString().split('T')[0] %>">